
.heading1 {
    margin-left: 2vw;
    font-size: 40px;
    font-weight: 500;
    color: #f77f07;
    /* text-align: center; */
    /* height: 11vh; */
    margin-top: 12vh;
}
:root {
  --e-global-color-66df98e: #f0eded50; 
  --e-global-color-f047208: #faf7f782;/* Define the custom property */
}

.heading2 {
  color: var(--e-global-color-66df98e);
  -webkit-text-stroke-width: 1px;
  stroke-width: 1px;
  -webkit-text-stroke-color: var(--e-global-color-primary);
  stroke: var(--e-global-color-primary);
  text-align: left;
    font-size: 65px;
    font-style: italic;/*
    color: #0d0d0c;
    margin-left: 15vw;
    margin-right: 10vw;
    text-align: center;
    font-size: 65px;
    font-style: italic;
    font-family: inherit;
    background-color: #69696994;
    filter: drop-shadow(2px 0px 1px #ff8210);*/
}

.heading3 {

  font-size: 30px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  background-color: #69696994;
}
.quote{
  height: 10vh;
  width: 7vw;
}

.pointerBox {
  background-color: #69696994;
  border-radius: 10px;
  margin-left: 11vw;
  margin-right: 12vw;
  height: 20vh;
}
.box {
    background-color: rgb(12, 12, 12);
    border-radius: 10px;
    margin-left: 11vw;
    margin-right: 12vw;
    height: 20vh;
    display: flex;
}

.xstyle {
  color: rgb(8, 3, 1);
    font-family: 'Bristle Brush Script';
    width: 50px;
    font-size: 75px;
    font-weight: bold;
}

/* Import the Charcoal font */
@font-face {
    font-family: 'Charcoal';
    src: url('/path/to/charcoal.ttf') format('truetype');
  }
  
  .charcoal {
    font-family: 'Charcoal', sans-serif;
    width: 50px;
    font-size: 75px;
    font-weight: bold;
    color: var(--e-global-color-66df98e);
    -webkit-text-stroke-width: 1px;
    stroke-width: 1px;
    -webkit-text-stroke-color: var(--e-global-color-primary);
    stroke: var(--e-global-color-primary);
  }

  .box1 {
    background-color: #0b0601;
    color: #e0e0e0;
    height: 18vh;
    width: 80vw;
    padding: 10px;
    border-radius: 10px;
    margin-left: 5vw;
    text-align: center;
    display: flex;
  }

  .list {
    list-style-type: none;
    color: #f3841c;
    opacity: 1;
    width: 40vw;
  }
  
  .listItem {
    margin-bottom: 10px;
    background-color: #110303;
    color: #e0e0e0;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .listItem:hover {
    background-color: #f3841c;
  }

  .box3 {
    background-color: #ff8210;
    border-radius: 10px;
    font-weight: 700;
    width: 55vw;
    text-align: center;
    height: 10vh;
    padding: 10px;
    margin-right: 15vh;
    margin-left: 45vh;
  }
  
  